@using idn.AnPhu.Biz.Models
@model Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var listProperties = ViewBag.ProductProperties;
    var listNewsCate = idn.AnPhu.Biz.Services.ServiceFactory.NewsCategoriesManager.GetAllActive();
    var services = idn.AnPhu.Biz.Services.ServiceFactory.HtmlPageCategoriesManager.GetAllActiveByShortName("dich-vu");
    var listPrdCate = idn.AnPhu.Biz.Services.ServiceFactory.PrdCategoriesManager.GetAllActive();
    var listProductReviews = ViewBag.ListProductReviews;
}

@section StyleSheet {
<style>
    .rate-box:hover {
        cursor: pointer;
    }
    .review_body {
        padding: 32px 64px;
    }
</style>
}

<section id="product">
    
    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
        <div class="carousel-inner" id="carousel-product">
            <div class="carousel-item active">
                <div class="container slide-1">
                    <div class="row slide-1-content">
                        <div class="col-md-4 slide-info">
                            <div class="slide-header-text">
                                @Model.ProductName
                            </div>
                            <div class="mb16 text-uppercase">
                                @Model.ProductSlogan
                            </div>
                            <div class="mb32 slide-text-descript">
                                @MvcHtmlString.Create(Model.ProductSummary)
                            </div>
                            <button>Dự toán chi phí</button>
                        </div>
                        <div class="col-md-8 slide-img">
                            <img src="@Model.ProductBackground" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container slide-2">
                    @Html.Partial("Product360")
                </div>
            </div>
            <div class="carousel-item">
                @Html.Partial("GalleryProduct")

            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row pb16">
                        @if (listProductReviews != null)
                        {
                            foreach (ProductReviews productReview in listProductReviews)
                            {
                                <div class="col-md-3 col-12 mt16 rate-box">
                                    <div class="rate-title">@productReview.ReviewTitle</div>
                                    <div class="rate-img">
                                        <img src="@productReview.ReviewLogo" data-bs-toggle="modal" data-bs-target="#review_@productReview.ReviewId">
                                        <!-- Modal -->
                                        <div class="modal fade" id="review_@productReview.ReviewId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="review_body">
                                                        @MvcHtmlString.Create(productReview.ReviewBody)
                                                    </div>

                                                    <div class="close" data-bs-dismiss="modal"><i class="fas fa-times"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="carousel-item mb32">
                @Html.Partial("SpecProduct")
            </div>
        </div>
        <div class="top-menu" id="top-menu" data-spy="affix">
            <div class="carousel-indicators m0">
                <a type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="btn-carousel btn-cover active" aria-current="true" aria-label="Slide 1" onclick="activeBtn(event)">
                    <div class="slide-icon">
                        <img src="/Content/images/affix-cover-active.png" alt="">
                    </div>
                    <span>Giới thiệu</span>
                </a>

                <a type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="btn-carousel btn-360" aria-label="Slide 2" onclick="activeBtn(event)">
                    <div class="slide-icon">
                        <img src="/Content/images/affix-360.png" alt="">
                    </div>
                    <span>Cảm nhận 360</span>
                </a>
                <a type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="btn-carousel btn-gallery" aria-label="Slide 3" onclick="activeBtn(event)">
                    <div class="slide-icon">
                        <img src="/Content/images/affix-gallery.png" alt="">
                    </div>
                    <span>Hình ảnh</span>
                </a>
                <a type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="btn-carousel btn-review" aria-label="Slide 4" onclick="activeBtn(event)">
                    <div class="slide-icon">
                        <img src="/Content/images/affix-review.png" alt="">
                    </div>
                    <span>Đánh giá xe</span>
                </a>
                <a type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="btn-carousel btn-spec" aria-label="Slide 5" onclick="activeBtn(event)">
                    <div class="slide-icon">
                        <img src="/Content/images/affix-spec.png" alt="">
                    </div>
                    <span>Thông số xe</span>
                </a>
                <a type="button" target="_blank" href="@Model.ProductBrochure" data-bs-target="#carouselExampleIndicators" class="btn-carousel btn-catalog">
                    <div class="slide-icon">
                        <img src="/Content/images/affix-catalog.png" alt="">
                    </div>
                    <span>Tải catalog</span>
                </a>
            </div>
            <div class="top-menu_logo">
                <div class="top-menu_logo-box">
                    <img src="/Content/images/GRAND-I10_logo.png" alt="">
                </div>
            </div>
            <div class="navbar-top">
                <ul class="nav-top">
                    @if (listProperties != null)
                    {
                        foreach (ProductProperties productPropMenu in ViewBag.ProductProperties)
                        {
                            var link = "#slide-content" + productPropMenu.OrderNo;
                            if (productPropMenu.OrderNo == 1)
                            {
                                <li><a href="@link" class="nav-top-link on">@productPropMenu.ProductPropertyTitle</a></li>
                            }
                            else
                            {
                                <li><a href="@link" class="nav-top-link">@productPropMenu.ProductPropertyTitle</a></li>
                            }
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
</section>
@if (listProperties != null)
{
    foreach (ProductProperties productProp in ViewBag.ProductProperties)
    {
        @MvcHtmlString.Create(productProp.ProductPropertyBody)
    }
}

@section Scripts {

}



