@model News
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Auth/Views/Shared/_LayoutAuth.cshtml";
}


@section StyleSheet {
    <style>
        .container-admin {
            font-size: 13px;
        }

            .container-admin .header-admin {
                margin: 0 8px;
                margin-bottom: 12px;
                font-size: 24px;
                font-weight: lighter;
                color: #2679b5;
                border-bottom: 1px dotted #e2e2e2;
                padding-bottom: 16px;
                padding-top: 7px;
            }

            .container-admin .header-table {
                padding: 12px;
                background-color: #EFF3F8;
                display: flex;
                justify-content: space-between;
            }

        .input-number {
            width: 78px;
        }

        .form-group .btn {
            margin-left: 16px;
        }

        .box-input {
            display: flex;
            flex-direction: column;
        }

        .text-danger {
            margin-top: 8px;
        }
    </style>
}

<div class="container-admin">
    <div class="header-admin">Cập nhật tin tức</div>
    <div class="content-admin">
        <div class="content-table">
            @using (Html.BeginForm("Update", "News", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal", onsubmit = "checkValid(event)" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        Tiêu đề tin tức:
                    </label>

                    <div class="col-sm-9 box-input">
                        <input type='hidden' name="NewsId" value="@Model.NewsId" />
                        <input type="text" name="NewsTitle" value="@Model.NewsTitle" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)" required />
                        <div class="text-danger" id="error_title"></div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1-1">
                        Danh mục:
                    </label>

                    <div class="col-sm-9">
                        <div class="clearfix">
                            <select name="NewsCategoryId">
                                <option selected="selected" value="0">-- Tất cả --</option>
                                @foreach (NewsCategories item in ViewBag.ListCategoriesNews)
                                {
                                    if (item.ParentId > 0)
                                    {
                                        if (item.NewsCategoryId == Model.NewsCategoryId)
                                        {
                                            <option value="@item.NewsCategoryId" selected>&nbsp;|--@item.NewsCategoryTitle</option>
                                        }
                                        else
                                        {
                                            <option value="@item.NewsCategoryId">&nbsp;|--@item.NewsCategoryTitle</option>
                                        }

                                    }
                                    else
                                    {
                                        if (item.NewsCategoryId == Model.NewsCategoryId)
                                        {
                                            <option value="@item.NewsCategoryId" selected>@item.NewsCategoryTitle</option>
                                        }
                                        else
                                        {
                                            <option value="@item.NewsCategoryId">@item.NewsCategoryTitle</option>
                                        }
                                        
                                    }

                                }

                            </select>
                        </div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Mô tả:
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="NewsDescription" rows="2" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)">@Model.NewsDescription</textarea>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">
                        Keyword:
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="NewsKeyword" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)">@Model.NewsKeyword</textarea>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Tóm tắt:
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="NewsSummary" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)">@Model.NewsSummary</textarea>
                        <div class="text-danger"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Hình ảnh:
                    </label>

                    <div class="col-sm-9" style="display: flex">
                        <div class="box-input">
                            <input type="text" name="NewsImage" class="col-xs-12 col-sm-6" style="width: 175px" value="@Model.NewsImage" oninput="validateEmpty(event)" />
                            <div class="text-danger" id="error_description"></div>
                        </div>
                        <button class="btn btn-success" style="height: 42px">Browse..</button>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Nội dung
                    </label>

                    <div class="col-sm-9 box-input">
                        <textarea type="text" name="NewsBody" rows="2" class="col-xs-12 col-sm-6" oninput="validateEmpty(event)">@Model.NewsBody</textarea>
                        <div class="text-danger" id="error_description"></div>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Thứ tự:
                    </label>

                    <div class="col-sm-9">
                        <input type="number" name="OrderNo" class="col-xs-12 col-sm-6 input-number" value="@Model.OrderNo" />
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    @{var check = Model.IsActive ? "checked" : "";}
                    <label class="col-sm-3 control-label no-padding-right">
                        Trạng thái:
                    </label>

                    <div class="checkbox">
                        <label>
                            <input name="IsActive" type="checkbox" class="ace" value="true" @check>

                            <span class="lbl"> Ẩn/Hiện danh mục</span>
                            <input name="IsActive" type="hidden" value="false" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    @{var hot = Model.IsActive ? "checked" : "";}
                    <label class="col-sm-3 control-label no-padding-right">
                        Hot news:
                    </label>

                    <div class="checkbox">
                        <label>
                            <input name="IsActive" type="checkbox" class="ace" value="true" @hot>
                            <span class="lbl"> Bài viết nổi bật</span>
                            <input name="IsActive" type="hidden" value="false" />
                        </label>
                    </div>
                </div>
                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        Tin liên quan
                    </label>

                    <div class="col-sm-9">
                        <input type="text" name="NewsOther" class="col-xs-12 col-sm-6" style="width: 175px" value="@Model.NewsOther" oninput="validateEmpty(event)" />
                        <div class="text-danger"></div>
                        <button class="btn btn-default">Lọc</button>

                    </div>
                </div>
                <button type="submit" id="btn_submit_save" class="btn btn-success">Lưu</button>
            }
        </div>
    </div>

</div>
@section Scripts {
    <script>
        $('#btn_submit_save').click(function () {
            $("#manageForm").attr("action", '@Url.ActionLocalized("Update")').submit();
        });

        function validateEmpty(e) {
            if ($(e.target).val() == '') {
                $(e.target).next().text('Bạn không được để trống');
            } else {
                $(e.target).next().text('');
            }
        }

        function checkValid(e) {
            var inputs = $('input, textarea');
            var bug = 0;

            for (var i = 1; i < inputs.length; i++) {
                if ($(inputs[i]).val() == '') {
                    $(inputs[i]).next().text('bạn không được để trống');
                    bug++;
                }
            }

            if (bug > 0) {
                e.preventDefault();
            } else {
                return true;
            }
        }

        var message = '@ViewBag.message';
        console.log(typeof message);
        console.log(message);

        $(document).ready(function () {
            if (message.trim() != null && message.trim() != '' && message != undefined) {
                alert(message);
            }
        })
    </script>
}

